.container-fluid{
    background-color: #093E80;
    display: flex;
    align-items: center;
    align-content: center;
    min-height: 70px;
}

.img-fluid{
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .img-fluid{
        max-width: 170px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .img-fluid{
        max-width: 190px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-fluid{
        min-height: 70px;
        border-bottom: 2px solid #5473A1;
    }
    .img-fluid{
        max-width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
