<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <strong>Filtros</strong>
        </div>
    </div>
    <div class="card" >
        <div class="container filterType collapsed" data-toggle="collapse" href="#searchForm" role="button" aria-expanded="false" aria-controls="searchForm">
            <div class="container-fluid">
                <span>
                    <img class="filterImg" src="../assets/icons/filters/search.svg" alt="">
                </span>
                <strong>Nombre de hotel</strong>
                <span class="filterCollapseSearch"></span>
            </div>
        </div>
        <div class="container collapse searchForm" id="searchForm" >
            <form class="row form-inline"  (keydown.enter)="$event.preventDefault()">
                <div class="col-lg-8 col-md-12 col-sm-9 col-12">
                    <input type="text" class="form-control filterSearchInput" placeholder="Ingrese el nombre del hotel"
                    #nameFilter nameFilter.value='' (keydown.enter)="this.filterByName(nameFilter.value)">
                </div>
                <div class="col-lg-4 col-md-12 col-sm-3 col-12">
                    <button type="submit" class="btn filterSearchBtn" name="button" (click)="this.filterByName(nameFilter.value)">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card" >
        <div class="container filterType collapsed" data-toggle="collapse" href="#filterStarsForm" role="button" aria-expanded="false" aria-controls="filterStarsForm">
            <div class="container-fluid">
                <span>
                    <img class="filterImg" src="../assets/icons/filters/star.svg" alt="star">
                </span>
                <strong>Estrellas</strong>
                <span class="filterCollapseSearch"></span>
            </div>
        </div>
        <div class="container collapse searchForm" id="filterStarsForm" >
            <form class="form-check">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" checked="true" disabled>
                <label class="form-check-label" for="inlineCheckbox1"><strong>Todas las estrellas</strong></label>
            </form>
            <form class="form-check">
                <input class="checkbox form-check-input" type="checkbox" id="inlineCheckbox2" [(ngModel)]="stars[4]"
                    (change)="filterByStars()" value="false" name="star5">
                <label class="form-check-label filterStarLabel" for="inlineCheckbox2">
                    <span>
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                    </span>
                </label>
            </form>
            <form class="form-check">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3"  [(ngModel)]="stars[3]"
                    (change)="filterByStars()" value="false" name="star4">
                <label class="form-check-label filterStarLabel" for="inlineCheckbox3">
                    <span>
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                    </span>
                </label>
            </form>
            <form class="form-check">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" [(ngModel)]="stars[2]"
                    (change)="filterByStars()" value="false" name="star3">
                <label class="form-check-label filterStarLabel" for="inlineCheckbox4">
                    <span>
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                    </span>
                </label>
            </form>
            <form class="form-check">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" [(ngModel)]="stars[1]"
                    (change)="filterByStars()" value="false" name="star2">
                <label class="form-check-label filterStarLabel" for="inlineCheckbox5">
                    <span>
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                    </span>
                </label>
            </form>
            <form class="form-check">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox6"  [(ngModel)]="stars[0]"
                    (change)="filterByStars()" value="false" name="star1">
                <label class="form-check-label filterStarLabel" for="inlineCheckbox6">
                    <span>
                        <img class="filterStarImg" src="../assets/icons/filters/starY.svg" alt="star">
                    </span>
                </label>
            </form>
        </div>
    </div>
</div>
