<!--The content below is only a placeholder and can be replaced.-->
<app-toolbar></app-toolbar>
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-4">
            <app-filter></app-filter>
        </div>
        <div class="col-md-8">
            <app-hotels></app-hotels>
        </div>
    </div>
</div>
